@CHARSET "ISO-8859-1";

body {
	font-size: 10px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	color: black;
}

.label {
	cursor: pointer;
	display: block;
	float: left;
	font-size: 13px;
	font-weight: bold;
	line-height: 28px;
	margin-bottom: 5px;
	width: 120px;
}

.column1 {
	width: 25%;
	padding-top: 0px;
	margin: 20px;
	vertical-align: top;
}

.column2 {
	vertical-align: top;
	width: 75%;
	padding-top: 0px;
	margin: 20px;
}

.contenido {
	overflow: auto;
	height: 450px;
}

.tree {
	padding-top: 0px;
	margin-top: 0px;
}

#imagen {
	width: 25%;
	padding-top: 0px;
	margin: 20px;
	vertical-align: top
}

.welcome {
	margin: 50px 150px 0px 100px;
	background-color: transparent;
}

.fondo_cabecera {
	background-image: url("/cetus-vortal-war/resources/images/line1.png");
	background-repeat: repeat-x;
	width: 100%;
	padding-top: 0px;
}

.fondo_pie_pagina {
	background-image: url("/cetus-vortal-war/resources/images/line2.png");
	background-repeat: repeat-x;
	width: 100%;
	height: 61px;
	padding-top: 0px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.column_cab_1 {
	width: 60%;
	vertical-align: top;
}

.column_cab_2 {
	width: 40%;
	text-align: right;
}

.column_5 {
	width: 5%;
	vertical-align: top;
}

.column_10 {
	width: 10%;
	vertical-align: top;
}

.column_15 {
	width: 15%;
	vertical-align: top;
}

.column_20 {
	width: 20%;
	vertical-align: top;
}

.column_25 {
	width: 25%;
	vertical-align: top;
	text-align: left;
}

.column_30 {
	width: 30% !important;
	vertical-align: top;
}

.column_40 {
	width: 40%;
	vertical-align: top;
}

.column_50 {
	width: 50%;
	vertical-align: top;
}

.column_60 {
	width: 60%;
	vertical-align: top;
}

.column_70 {
	width: 70%;
	vertical-align: top;
}

.column_75 {
	width: 75%;
	vertical-align: top;
}

.column_80 {
	width: 80%;
	vertical-align: top;
}

.column_90 {
	width: 90% !important;
	height: 600px !important;
	background-color: green !important;
	vertical-align: top;
	background-color: green !important;
}

.column_cab_3 {
	width: 33%;
	text-align: right;
	background-color: black;
	margin-left: 40px;
	padding-left: 60px;
}

.resaltar {
	font-weight: bold;
	font-size: 15px;
	color: white;
}

.resaltar_negro {
	font-weight: bold !important;
	font-size: 15px !important!;
	color: black !important!;
}

.linkTitulo {
	color: black !important;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}

.linkTitulo:hover {
	color: white;
	font-weight: bold;
	text-decoration: underline;
	font-size: 12px;
	cursor: pointer !important;
}

.linkTituloWhite {
	color: white !important;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}

.linkTituloWhite:hover {
	color: white;
	font-weight: bold;
	text-decoration: underline;
	font-size: 12px;
	cursor: pointer;
}

.letra_aplicacion {
	font-size: 42px;
	text-shadow: 3px 3px 3px #000000;
	font-family: Georgia, serif;
	color: white;
	padding-top: 70px !important;
	position: absolute;
	margin-top: -60px;
}

.letra_login {
	text-shadow: 3px 3px 3px #000000;
	font-family: Georgia, serif;
	color: white;
	font-size: 15px;
}

.panelH {
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d),
		to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
}

.columnas-login {
	border-radius: 15px !important;
	border-top-left-radius: 400px 200px;
}

.columa_menu {
	width: 30%;
}

.column1_h {
	width: 90% !important;
}

.column2_h {
	width: 10% !important;
	text-align: center;
	margin-left: 10px;
	cursor: pointer;
	margin-right: 30px;
	margin-top: -10px
}

.column_100 {
	width: 100%;
}

.ui-outputlabel {
	font-weight: bold !important;
	font-size: 15px !important!;
	color: black !important!;
}

.row-color-1 {
	background: #cccccc;
}

.row-color-2 {
	background: #e5e7e8;
}

.ui-icon-folder-open {
	background: url("folder-open-icon.png.xhtml?ln=images") !important;
	height: 24px !important;
	width: 24px !important;
}

.ui-icon-folder-collapsed {
	background: url("folder-close-icon.png.xhtml?ln=images") !important;
	height: 24px !important;
	width: 24px !important;
}

.header_style {
	color: red;
	background-color: red !important;
	height: 70px !important;
}

.ui-layout-unit .ui-layout-unit-content {
	height: 100% !important;
}

.ui-layout-unit {
	padding: 0.0em;
}

.center_lay {
	top: 100px;
}